<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<h3>Merge Articles</h3>
<%= form_tag do  %>
  <%= label_tag(:article_id, "Article ID") %>
  <%= text_field_tag(:article_id) %>
  <%= submit_tag("Merge") %>
<% end %>
